# --- IDEs y Sistema Operativo ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.tmp

# --- PYTHON (backend-api y scripts) ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg-info/
.installed.cfg
.cache/
.pytest_cache/

# --- NODE.JS (node-server) ---
node-server/node_modules/
node-server/npm-debug.log*
node-server/yarn-debug.log*
node-server/yarn-error.log*
node-server/.pnpm-debug.log*

# Archivos de datos locales y Logs de Node
node-server/accesos.txt
node-server/.env

# --- EXCEL Y DATOS TEMPORALES ---
# Ignora archivos temporales de Excel (empiezan por ~$)
~$*.xlsx
scripts/ranking_M.xlsx 
# Nota: Si quieres subir el Excel original, borra la línea de arriba.