# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
scripts/venv/
.vscode/
*.log

# OS
.DS_Store
Thumbs.db

# Node.js
node_server/node_modules/
node_server/package-lock.json
node_server/accesos.txt

# Otros
.DS_Store
dist/
build/